<div class="checkoutContainer"> 
    <div class="checkoutTitle">
        Billing Details
    </div>
    <form class="checkoutForm" [formGroup] ='form' (submit)="onSubmit()">
        <div class="formInputs">
            <input type="text" placeholder="Full Name" formControlName="fullName" >
            <input type="text" placeholder="Address" formControlName="address" >
            <input type="text" placeholder="Town /City" formControlName="city" >
        
        </div>
       
        <div class="yourOrderContainer">
            <div class="yourOrderTitle">
                Your Order
            </div>
            <div class="table-wrapper">
                <table class="totalTable">
                    <tr>
                        <td>
                            Product
                        </td>
                        <td>
                            Total
                        </td>
                        <td>
                            Size
                        </td>
                        <td>
                            Color
                        </td>
                    </tr>
                    
                    <tr >
                        <td style="padding-left: 4%;">
                            {{order.name}}
                        </td>
                        <td>
                            {{order.price}} $
                        </td>
                        <td>
                            {{productInfo.size}} 
                        </td>
                        <td>
                            <div [style.background-color]="productInfo.color" class="color-circle"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="danger" *ngIf="error " >
            Please Fill The Required Inputs
        </div>
        <div class="placeOrderContainer">
            <button type="submit" class="placeOrder" >
                PLACE AN ORDER
            </button>
        </div>
    </form>

    
    

    <div class="footerDetail">
        Cash on delivery.  Please contact us if you require assistance or wish to make alternate arrangements.
    </div>
</div>