/* Typography */
.product-name,
.product-price,
.product-description,
.product-button,
.category{
    display: flex;
    flex: wrap;
}

.product-price{
    font-size: 1.5rem;
    color: #000;

}
.product-name  {
    font-size: 2rem;
    color: #000;
}




.product-info{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.group1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .group1{
        display: block;
    }
}

.product-name {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
    .product-name {
        font-size: 2rem;
    }
}


/* Layout */
.product-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin: auto;
    width: 80%;
    justify-content: flex-start;}

@media screen and (max-width: 1000px){
    .product-container {
        flex-direction: column;
        
    }
    
}

.img-container {
    flex: 0 0 40%;
}

.img-container img {
    width: 100%;
    height: auto;
}


/* Button */
.product-button {
    cursor: pointer;
    width: 20%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 768px){
    .product-button {
        width: 100%;
        padding: 1%;
    }
    
}

.product-button:hover {
    background-color: #0056b3;
}

.product-size {
    margin-top: 15px;
}

.product-size label {
    margin-right: 10px;
}

.product-size select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.product-reviews{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.additional-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Colors */
  
  .color-circles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  
  .color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent; /* Add border for selected effect */
  }
  
  .color-circle.selected {
    
    border-color: rgb(0, 0, 0); /* Highlight selected color */
  }
  .color-circle-label{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}