<div *ngIf="product == undefined">
    <app-loader></app-loader>
</div>

<div class="product-container" *ngIf="product !== undefined">
    <div class="img-container">
        <img [src]="product.imageUrl" alt=""/>
    </div>

    <div class="details-container">
        <div class="product-info">
            <div class="group1">
                <div class="product-name">
                    {{product.name}}
                </div>
                <div class="product-price">
                    {{product.price}} $
                </div>
            </div>

            <div class="category">
                Category: {{product.category}}
            </div>

            <div >
                {{product.material}}
            </div>

            <div class="product-description">
                {{product.description}}
            </div>

            <div class="product-size">
                <label for="size">Select Size:</label>
                <select id="size" (change)="selectSize($event)">
                    <option *ngFor="let size of product.sizes" [value]="size" >{{size}}</option>
                </select>
            </div>

            <div class="color-circles">
                <div class="color-circle-label">Select Color:</div>
                <div *ngFor="let color of product.colors" 
                     [style.background-color]="color" 
                     (click)="selectColor(color)"
                     class="color-circle"
                     [class.selected]="color === selectedColor">
                </div>
            </div>

            <div class="product-reviews">
                <div class="rating">
                    <span>Average Rating: {{product.rating}}/5</span>
                </div>
            </div>

            <div class="additional-info">
                <span class="danger" *ngIf="error">{{error}}</span>
                <div class="actions">
                    <div class="product-button" (click)="buy(product)">
                        Buy Now 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
