

<div class="productsContainer" >
    <div class="containerTitle">
        PRODUCTS
    </div>

    <app-loader  *ngIf="isLoading"></app-loader>
    <div class="group"  *ngFor="let category of categories" >
        <div class="groupTitle">
            {{category}}
        </div>
        <div class="products">
            <ng-container *ngFor="let chunk of chunkArray(groupedProducts[category], 10)">
                <div class="productGroupWrapper" >
                  <ng-container *ngFor="let product of chunk; let i = index">
                    <app-card [product]="product" ></app-card>
                  </ng-container>
                </div>
              </ng-container>
            
        </div>
    </div>
</div>